<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="'viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}My Webpage{% endblock %}</title>
</head>
{% load static %}
<link href="{% static 'bootstrap/css/bootstrap-grid.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap-reboot.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap-reboot.min.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/mycss.css' %}" rel="stylesheet">

<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/myjs.js' %}"></script>



<body style="background-color:#1d1d1d">

    <header class="bg-dark">

    <div id ="menubar">
        <div class="container d-flex justify-content-between">
            <div class="col-sm-7 col-lg-7">
                <h4 class="text-light" style="margin-left:-10px">About</h4>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                <h4 class="text-light">Contact</h4>
            </div>
        </div>
    </div>
        
    <div class="navbar navbar-dark bg-dark shadow-sm">

        <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Formigator</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
    </div>
    </header>

    <div class="navbar">
        <div class="container" style="margin-top:0px;">
            <div id = "sidebar" class="col-sm-3 col-lg-3" style="background-color:#444444;">
              <h4 class="text-light" style="margin-top:10px">
                Header:
              </h4>
              <button class="nav-link text-light bg-dark" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                Upload Logo
              </button>
              
              <button class="nav-link text-light bg-dark" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                Export Form
              </button>

            </div>
            <div class="col-sm-9 col-md-9 col-lg-9" style="background-color:#3b3b3b; height:100%;">{%block content%} {% endblock %}</div>
        </div>
    </div>

</body>
</html>